
[Service]
User=root
WorkingDirectory=/home/tjx/oresty
ExecStart=/usr/local/oresty/nginx/sbin/nginx -c /home/tjx/oresty/nginx.conf -g 'daemon off;'
ExecReload=/usr/local/oresty/nginx/sbin/nginx -c /home/tjx/oresty/nginx.conf -s reload
ExecStop=/usr/local/oresty/nginx/sbin/nginx -c /home/tjx/oresty/nginx.conf -s stop
[Install]
WantedBy=default.target

